html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@mixin media-sm {
  @media screen and (max-width: 480px) {
    @content;
  }
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}
